{% extends "main/wrapper.html" %}

{% block content %}
    <form action="{% url 'vksearch:get_new_filter_name' %}" method="post">
        {% csrf_token %}
        {% if friends_set %}
        	Enter friends domains:<br>
        	{% for i in friends_num %}
        		<input type="text" name="friend_{{ i }}" id="friend_{{ i }}" style="width:150px" required="required"><br>
        	{% endfor %}     
        {% endif %}
        {% if groups_set %}
            Enter groups screen names:<br>
            {% for i in groups_num %}
                <input type="text" name="group_{{ i }}" id="group_{{ i }}" style="width:150px" required="required"><br>
            {% endfor %}        
        {% endif %}
        <br>
        <label for="country_id">
            <input type="hidden" id="country_id" name="country_id" value="{{ country_id }}">
        </label>
        <label for="cities">
            <input type="hidden" id="cities" name="cities" value="{{ cities }}">
        </label>
        <label for="universities">
            <input type="hidden" id="universities" name="universities" value="{{ universities }}">
        </label>
        <input type="submit" class="btn btn-dark btn-sm" value="Next">
    </form>
    <br/>
{% endblock %}