{% extends "wrapper.html" %}

{% block content %}
<div class="jumbotron">
    <h2>Delete filter</h2>
    <form action="{% url 'vksearch:delete_filter_result' %}" method="post">
        {% csrf_token %}
        Select filter to delete:
        <select name="filter" required>
            {% for filter in filters %}
                <option value="{{ filter }}">{{ filter }}</option>
            {% endfor %}
        </select><br> 
        <input type="submit" class="btn btn-dark" value="Delete">
    </form>
    <br/>
</div>
{% endblock %}