{% extends "wrapper.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'main/css/scroller.css' %}">

<div id="loading-container">
	<div id="loading-div">
		<h4>Loading...</h4>
		<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
	</div>
	<div id="overlay"></div>
</div>

<div class="jumbotron">
	<h2>Add user</h2>
    <form action="{% url 'main:add_user_result' %}" method="post">
	    {% csrf_token %}
	    <label for="domain">Enter user domain: </label>
	    <input type="text" name="domain" id="domain"/><br/>
	    <input type="submit" class="btn btn-dark" value="Add user" onclick="document.getElementById('loading-container').style.display =''">
    </form>
</div>

<script type="text/javascript">
	document.getElementById("loading-container").style.display = "none";
</script>
{% endblock %}