{% extends "wrapper.html" %}

{% block content %}
<div class="jumbotron">
    <h2>Get dates</h2>
    <form action="{% url 'main:get_user_changes' %}" method="post">
        {% csrf_token %}
        <label for="domain">
            <input type="hidden" name="domain" value="{{ domain }}">
        </label>
        <select size="5" required="required" name="date1">
        {% for date in dates %}
                <option value="{{ date }}">{{ date }}</option>
        {% endfor %}
        </select>
        <select size="5" required="required" name="date2">
        {% for date in dates %}
                <option value="{{ date }}">{{ date }}</option>
        {% endfor %}
        </select>
        <br>
        <input type="submit" class="btn btn-dark" value="Choose dates">
        <p></p>
    </form>
</div>
{% endblock %}