venv/
.idea/
docker/VKInfoSite
docker/requirements.txt
VKInfoSite/config/default_config.json
VKInfoSite/__pycache__
VKInfoSite/main/__pycache__/
VKInfoSite/main/migrations/
VKInfoSite/dashboard/__pycache__/
VKInfoSite/dashboard/migrations/
VKInfoSite/vksearch/__pycache__/
VKInfoSite/vksearch/migrations/
db/db.logs
db/VKDatabase.db