{% extends "main/wrapper.html" %}

{% block content %}
    <form action="{% url 'vksearch:get_search_result' %}" method="post">
        {% csrf_token %}
        Sex
        <select required="required" id="sex" name="sex">
            <option value="0" selected>Male</option>
            <option value="1">Female</option>
        </select>
        <br/>
        Age from <input type="number" name="age_from" id="age_from" value="18" size="2" min="0" max="100" style="width:50px" required="required">
        to <input type="number" name="age_to" id="age_to" value="21" size="2" min="0" max="100" style="width:50px" required="required">
        <br/>
        Has photo <input type="checkbox" name="has_photo">
        <br/>
        Select filter
        <select required="required" id="filter" name="filter" >
            {% for filter in filters %}
                <option value="{{ filter }}">{{ filter }}</option>
            {% endfor %}
        </select>
        <br/>
        <input type="submit" class="btn btn-dark btn-sm" value="Search">
    </form>
    <br/>
{% endblock %}