{% extends "main/wrapper.html" %}

{% block content %}
{% comment %}
    <p>Main info changes:</p>
    <li>
        New:
        {% for key, change in info.main_info.new %}
            <p>{{ key }} - {{ change }}</p>
        {% endfor %}
    </li>
    <li>
        Old:
        {% for key, change in info.main_info.old %}
            <p>{{ key }} - {{ change }}</p>
        {% endfor %}
    </li>
{% endcomment %}

    <p>Friend list changes:</p>
    <p>New friends:</p>
        {% for friend in info.friends %}
            {% if friend.status %}
                    <p>New!</p>
            {% endif %}
        {% endfor %}
    <p>Deleted friends:</p>
        {% for friend in info.friends %}
            {% if not friend.status %}
                <p>Deleted!</p>
            {% endif %}
        {% endfor %}

{% comment %}

    <p>Followers list changes:</p>
    <li>
        New followers:
        {% for follower in info.followers %}
            {% if follower.status %}
                    <table>
                        {% for k, v in follower %}
                            <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
                        {% endfor %}
                    </table>
            {% endif %}
        {% endfor %}
    </li>
    <li>
        Deleted followers:
        {% for friend in info.follower %}
            {% if not follower.status %}
                    <table>
                        {% for k, v in follower %}
                            <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
                        {% endfor %}
                    </table>
            {% endif %}
        {% endfor %}
    </li>

    <p>Groups changes:</p>
    <li>
        New groups:
        {% for group in info.groups %}
            {% if group.status %}
                    <table>
                        {% for k, v in group %}
                            <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
                        {% endfor %}
                    </table>
            {% endif %}
        {% endfor %}
    </li>
    <li>
        Deleted groups:
        {% for group in info.groups %}
            {% if not group.status %}
                    <table>
                        {% for k, v in group %}
                            <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
                        {% endfor %}
                    </table>
            {% endif %}
        {% endfor %}
    </li>


    <p>Photos changes:</p>
    {% for photo in info.photos %}
        <li>Photo {{ photo.photo_id }}:

        </li>
    {% endfor %}


    <p>Wall changes:</p>
    {% for post in info.wall %}
        <li>Wallpost {{ post.post_id }}:

        </li>
    {% endfor %}
{% endcomment %}

{% endblock %}