{% extends "main/wrapper.html" %}

{% block content %}
    {% if 'error' not in info %}
        <form action="{% url 'main:getChanges' %}" method="post">
            {% csrf_token %}
            <input type="hidden" id="domain" name="domain" value="{{ info.domain }}">
            <p>Dates of collecting information about user with domain <label for="domain">{{ info.domain }}</label></p>
            {% for date in info.dates %}
                <input type="radio" id="date" name="date" value="date">
                <label for="date">
                    <p>{{ date }}</p>
                </label>
                <br>
            {% endfor %}
            <input type="submit" class="btn btn-dark btn-sm" value="Choose date" onclick="location.href='/user_changes/show_changes/'">
            <p></p>
        </form>
    {% else %}
        <p>Error: {{ error }}</p>
    {% endif %}
{% endblock %}