{% extends "main/wrapper.html" %}

{% block content %}
    {% if 'error' not in info %}
        <form action="{% url 'main:getChanges' %}" method="post">
            {% csrf_token %}
            {% for date in info.dates %}
                <input type="radio" id="date" name="date" value="date" >
                <label for="date">
                    <p>{{ date }}</p>
                </label>
            {% endfor %}
            <input type="submit" class="btn btn-dark btn-sm" value="Get info" onclick="location.href='/user_changes/show_changes/'">
        </form>
    {% else %}
        <p>Error: {{ error }}</p>
    {% endif %}
{% endblock %}