{% extends "main/wrapper.html" %}

{% block content %}
    <span class="d-block p-2 bg-primary text-white">Search result: found {{ count }} persons</span>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Photo</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a style="color: white" href="https://vk.com/id{{ person.id }}">{{ person.first_name }} {{ person.last_name }}</a><br><br>
                        Profile: 
                        {% if person.is_closed %}
                            closed
                        {% else %}
                            opened                        
                        {% endif %}
                        <br>
                        ID: {{ person.id }}<br>
                        Domain: {{ person.domain }}<br>
                        Relation: {{ person.relation }}
                        </td>
                        <td><img 
     src={{ person.photo_400_orig }}></td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}