{% extends "main/wrapper.html" %}

{% block content %}
  <form action="{% url 'main:change_settings_result' %}" method="post">
    {% csrf_token %}
    <P>Settings</P>

    Mongo DB:
    <table>
      <tr>
        <td>
          Host:
        </td>
        <td>
          <input type="text" id="mdb_host" name="mdb_host" value="{{ mdb_host }}" required="required">
        </td>
      </tr>
      <tr>
        <td>
          Port:
        </td>
        <td>
          <input type="number" id="mdb_port" name="mdb_port" value="{{ mdb_port }}" required="required">
        </td>
      </tr>
    </table>

    <br>Neo4j DB:
    <table>
      <tr>
        <td>
          Url:
        </td>
        <td>
          <input type="text" id="neo_url" name="neo_url" value="{{ neo_url }}" required="required">
        </td>
      </tr>
      <tr>
        <td>
          User:
        </td>
        <td>
          <input type="text" id="neo_user" name="neo_user" value="{{ neo_user }}" required="required">
        </td>
      </tr>
      <tr>
        <td>
          Password:
        </td>
        <td>
          <input type="text" id="neo_pass" name="neo_pass" value="{{ neo_pass }}" required="required">
        </td>
      </tr>
    </table>

    <br>
    <table>
      <tr>
        <td>
          VK token:
        </td>
        <td>
          <input type="text" id="vk_token" name="vk_token" value="{{ vk_token }}" size="95" maxlength="85" minlength="85" required="required">
        </td>
    </table>
    <br>Use default settings <input type="checkbox" id="default" name="default"><br>
    <input type="submit" class="btn btn-dark btn-sm" value="Change settings">
  </form>
  <br>
{% endblock %}