{% extends "main/wrapper.html" %}

{% block content %}
<h1>HEY!</h1>
<form action="{% url 'main:getUserChanges' %}" method="post">
    {% csrf_token %}
    {% for k, arr in info %}
        {% for file in arr %}
        <input type="radio" id="f" name="f" value="f" >
        <label for="f">
            <p>{{ file }}</p>
        </label>
        {% endfor %}
    {% endfor %}
    <input type="submit" class="btn btn-dark btn-sm" value="Get info" onclick="location.href='/user_changes/show_changes/'">
</form>
<br/>
{% endblock %}