{% extends "main/wrapper.html" %}

{% block content %}
    <form action="{% url 'vksearch:get_new_filter_universities' %}" method="post">
        {% csrf_token %}
        Enter cities:<br>
        {% for i in cities_num %}
            <input type="text" name="city_{{ i }}" id="city_{{ i }}" required="required" style="width:120px"><br>
        {% endfor %}
        Enter univercity cities:<br>
        {% for i in un_cities_num %}
            <input type="text" name="un_city_{{ i }}" id="un_city_{{ i }}" required="required" style="width:120px"><br>
        {% endfor %}
        <table>
            <tr>
                <td>Universities</td>
                <td><input type="checkbox" name="university_set" id="university_set"></td>            
            </tr>
            <tr>
                <td>Number </td>
                <td><input type="number" name="universities_num" id="universities_num" value="1" size="2" min="1" style="width:50px" required="required"></td>
            </tr>
            <tr>
                <td>Universities filter </td>
                <td><input type="text" name="universities_filter" id="universities_filter" style="width:150px"></td>
            </tr>
        </table>
        <p>To search for multiple values, enter them separated by commas. Example: МГУ,МГТУ Баумана,РАНХиГС<br>
        If you do not specify a filter, you will be selected from all universities located in the specified cities</p>
        <label for="country_id">
            <input type="hidden" id="country_id" name="country_id" value="{{ country_id }}">
        </label>
        <input type="button" class="btn btn-dark btn-sm" onclick="history.back();" value="Back"/>
        <input type="submit" class="btn btn-dark btn-sm" value="Next">
    </form>
    <br/>
{% endblock %}