{% extends "main/wrapper.html" %}

{% block content %}
    <form action="{% url 'vksearch:get_new_filter_cities' %}" method="post">
        {% csrf_token %}
        Select country:
        <select required="required" name="country" id="country" >
            {% for country in countries %}
                <option value="{{ country.id }}">{{ country.title }}</option>
            {% endfor %}
        </select><br>
        Cities number <input type="number" name="cities_num" id="cities_num" value="1" size="2" min="1" style="width:50px" required="required"><br>
        University cities number <input type="number" name="un_cities_num" id="un_cities_num" value="1" size="2" min="1" style="width:50px" required="required"><br>
        <label for="country_id">
             <input type="hidden" id="country_id" name="country_id" value="{{ country_id }}">
        </label>
        <input type="submit" class="btn btn-dark btn-sm" value="Next">
    </form>
    <br/>
{% endblock %}