{% extends "main/wrapper.html" %}

{% block content %}
    <form action="{% url 'vksearch:add_new_filter' %}" method="post">
        {% csrf_token %}
        Enter new filter name 
        <input type="text" name="filter_name" id="filter_name" style="width:90px" required="required"><br>
        <label for="country_id">
            <input type="hidden" id="country_id" name="country_id" value="{{ country_id }}">
        </label>
        <label for="cities">
            <input type="hidden" id="cities" name="cities" value="{{ cities }}">
        </label>
        <label for="cities_titles">
            <input type="hidden" id="cities_titles" name="cities_titles" value="{{ cities_titles }}">
        </label>
        <label for="universities">
            <input type="hidden" id="universities" name="universities" value="{{ universities }}">
        </label>
        <label for="friends">
            <input type="hidden" id="friends" name="friends" value="{{ friends }}">
        </label>
        <label for="groups">
            <input type="hidden" id="groups" name="groups" value="{{ groups }}">
        </label>
        <input type="button" class="btn btn-dark btn-sm" onclick="history.back();" value="Back"/>
        <input type="submit" class="btn btn-dark btn-sm" value="Next">
    </form>
    <br/>
{% endblock %}