{% extends "main/wrapper.html" %}

{% block content %}
    <form action="{% url 'main:getUsersDates' %}" method="post">
        {% csrf_token %}

        <table>
            <tr>
                <td>
                    <label for="first_domain">
                        Enter first user domain:
                    </label>
                </td>
                <td>
                    <input type="text" name="first_domain" id="first_domain"/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="second_domain">
                        Enter second user domain:
                    </label>
                </td>
                <td>
                    <input type="text" name="second_domain" id="second_domain"/><br/>
                </td>
            </tr>
        </table>
        <input type="submit" class="btn btn-dark btn-sm" value="Get mutual activity">
    </form>
    <br/>
{% endblock %}