{% extends "main/wrapper.html" %}

{% block content %}
    {% if 'error' not in info %}
        <p>First user -> second user</p>
        <table>
            <tr><td>Photos</td><td>description</td></tr>
            <tr><td>Wall</td><td>description</td></tr>
        </table>
        <br/>
        <p>Second user -> first user</p>
        <table>
            <tr><td>Photos</td><td>description</td></tr>
            <tr><td>Wall</td><td>description</td></tr>
        </table>
        <br/>
        <p>Mutual friends</p>
         <table>
             <tr><td>First friend</td></tr>
             <tr><td>...</td></tr>
        <tr><td>n-th friend</td></tr>
        </table>
        <br/>
        <p>Mutual groups</p>
        <table>
        <tr><td>First group</td>></tr>
        <tr><td>...</td>></tr>
        <tr><td>n-th group</td></tr>
        </table>
        <br/>
    {% else %}
        <p>Error: {{ value.error }}</p>
    {% endif %}
{% endblock %}