{% extends "wrapper.html" %}

{% block content %}

{% load static %}
{% load main_extras %}

<style type="text/css"> a { color: black; } img { cursor: pointer; }</style>

<div class="jumbotron">

    <h2>Information about <a href="https://vk.com/{{ domain }}">{{ fullname }}</a></h2>
    <hr class="my-4">

    <h4><a href="{% url 'dashboard:dash' domain %}">Show info graphs &raquo;</a></h4>
    <hr class="my-4">

    <h4><img height="20" src='{% eye_icon %}' onclick='hideTable("search-main", "main-info-table")'> Main info</h4>
    <input class="form-control" type="text" placeholder="Search..." id="search-main" onkeyup='tableSearch("search-main", "main-info-table")'>
    <table id="main-info-table" class="table table-hover">
        <tbody>
            <tr><td><strong>ID</strong></td><td>{{ info.main_info.id }}</td></tr>
            <tr><td><strong>First name</strong></td><td>{{ info.main_info.first_name }}</td></tr>
            <tr><td><strong>Last name</strong></td><td>{{ info.main_info.last_name }}</td></tr>
            <tr><td><strong>Sex</strong></td><td>{% sex info.main_info.sex %}</td></tr>
            <tr><td><strong>Domain</strong></td><td>{{ info.main_info.domain }}</td></tr>
            <tr><td><strong>Bdate</strong></td><td>{{ info.main_info.bdate }}</td></tr>
            <tr><td><strong>Country</strong></td><td>{{ info.main_info.country.title }}</td></tr>
            <tr><td><strong>Status</strong></td><td>{{ info.main_info.status }}</td></tr>
            <tr><td><strong>Occupation</strong></td><td>{{ info.main_info.occupation.name }} {{ info.main_info.occupation.type }}</td></tr>
            <tr><td><strong>Schools</strong></td><td>{% schools info.main_info.schools %}</td></tr>
            <tr><td><strong>Home town</strong></td><td>{{ info.main_info.home_town }}</td></tr>
            <tr><td><strong>Languages</strong></td><td>{% languages info.main_info.personal.langs %}</td></tr>
        </tbody>
    </table>
    <hr class="my-4">

    <h4><img height="20" src='{% eye_icon %}' onclick='hideTable("search-counters", "counters-table")'> Counters</h4>
    <input class="form-control" type="text" placeholder="Search..." id="search-counters" onkeyup='tableSearch("search-counters", "counters-table")'>
    <table id="counters-table" class="table table-hover">
        <tbody>
            <tr><td><strong>Friends</strong></td><td>{{ info.main_info.counters.friends }}</td></tr>
            <tr><td><strong>Followers</strong></td><td>{{ info.main_info.followers_count }}</td></tr>
            <tr><td><strong>Groups</strong></td><td>{{ info.main_info.counters.groups }}</td></tr>
            <tr><td><strong>Audios</strong></td><td>{{ info.main_info.counters.audios }}</td></tr>
            <tr><td><strong>Photos</strong></td><td>{{ info.main_info.counters.photos }}</td></tr>
            <tr><td><strong>Gifts</strong></td><td>{{ info.main_info.counters.gifts }}</td></tr>
            <tr><td><strong>Videos</strong></td><td>{{ info.main_info.counters.videos }}</td></tr>
        </tbody>
    </table>
    <hr class="my-4">

    <h4><img height="20" src='{% eye_icon %}' onclick='hideTable("search-friends", "friends-table")'> Friends</h4>
    <input class="form-control" type="text" placeholder="Search..." id="search-friends" onkeyup='tableSearch("search-friends", "friends-table")'>
    <table id="friends-table" class="table table-hover">
        <thead>
       	     <tr class="table-active">
                <th scope="col"><img height="20" src='{% sort_icon %}' onclick="sortTableByNums('friends-table', 0, true)"></th>
       		    <th scope="col">Fullname <img height="20" src='{% sort_icon %}' onclick="sortTable('friends-table', 1)"></th>
       		    <th scope="col">ID</th>
       		    <th scope="col">Domain <img height="20" src='{% sort_icon %}' onclick="sortTable('friends-table', 3)"></th>
       		    <th scope="col">Bday <img height="20" src='{% sort_icon %}' onclick="sortTable('friends-table', 4)"></th>
             </tr>
        </thead>
        <tbody>
            {% for friend in info.friends.items %}
            <tr>
                <td scope="row"><strong>{{ forloop.counter }}</strong></td>
                <td><a href="https://vk.com/{{ friend.domain }}">{{ friend.first_name}} {{ friend.last_name }}</a></td>
                <td>{{ friend.id }}</td>
                <td>{{ friend.domain }}</td>
                <td>{{ friend.bdate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr class="my-4">

    <h4><img height="20" src='{% eye_icon %}' onclick='hideTable("search-followers", "followers-table")'> Followers</h4>
    <input class="form-control" type="text" placeholder="Search..." id="search-followers" onkeyup='tableSearch("search-followers", "followers-table")'>
    <table id="followers-table" class="table table-hover">
        <thead>
       	     <tr class="table-active">
                <th scope="col"><img height="20" src='{% sort_icon %}' onclick="sortTableByNums('followers-table', 0, true)"></th>
       		    <th scope="col">Fullname <img height="20" src='{% sort_icon %}' onclick="sortTable('followers-table', 1)"></th>
       		    <th scope="col">ID</th>
       		    <th scope="col">Domain <img height="20" src='{% sort_icon %}' onclick="sortTable('followers-table', 3)"></th>
       		    <th scope="col">Bday <img height="20" src='{% sort_icon %}' onclick="sortTable('followers-table', 4)"></th>
             </tr>
        </thead>
        <tbody>
            {% for follower in info.followers.items %}
            <tr>
                <td scope="row"><strong>{{ forloop.counter }}</strong></td>
                <td><a href="https://vk.com/{{ follower.domain }}">{{ follower.first_name}} {{ follower.last_name }}</a></td>
                <td>{{ follower.id }}</td>
                <td>{{ follower.domain }}</td>
                <td>{{ follower.bdate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr class="my-4">

    <h4><img height="20" src='{% eye_icon %}' onclick='hideTable("search-groups", "groups-table")'> Groups</h4>
    <input class="form-control" type="text" placeholder="Search..." id="search-groups" onkeyup='tableSearch("search-groups", "groups-table")'>
    <table id="groups-table" class="table table-hover">
        <thead>
             <tr class="table-active">
                <th scope="col"><img height="20" src='{% sort_icon %}' onclick="sortTableByNums('groups-table', 0, true)"></th>
       		    <th scope="col">Name <img height="20" src='{% sort_icon %}' onclick="sortTable('groups-table', 1)"></th>
       		    <th scope="col">ID</th>
       		    <th scope="col">Screen name <img height="20" src='{% sort_icon %}' onclick="sortTable('groups-table', 3)"></th>
             </tr>
        </thead>
        <tbody>
            {% for group in info.groups.items %}
            <tr>
                <td scope="row"><strong>{{ forloop.counter }}</strong></td>
                <td><a href="https://vk.com/{{ group.screen_name }}">{{ group.name }}</a></td>
                <td>{{ group.id }}</td>
                <td>{{ group.screen_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr class="my-4">

    <h4><img height="20" src='{% eye_icon %}' onclick='hideTable("search-photos", "photos-table")'> Photos</h4>
    <input class="form-control" type="text" placeholder="Search..." id="search-photos" onkeyup='tableSearch("search-photos", "photos-table")'>
    <table id="photos-table" class="table table-hover">
        <thead>
             <tr class="table-active">
                <th scope="col"><img height="20" src='{% sort_icon %}' onclick="sortTableByNums('photos-table', 0, true)"></th>
                <th scope="col">Photo ID</th>
                <th scope="col">Likes count <img height="20" src='{% sort_icon %}' onclick="sortTableByNums('photos-table', 2, false)"></th>
       		    <th scope="col">Likes</th>
       		    <th scope="col">Comments</th>
             </tr>
        </thead>
        <tbody>
            {% for photo in info.photos.items %}
            <tr>
                <td scope="row"><strong>{{ forloop.counter }}</strong></td>
                <td><a href="https://vk.com/{{ domain }}?z=photo{{ id }}_{{ photo.photo_id }}%2Fphotos{{ id }}">{{ photo.photo_id }}</a></td>
                <td>{{ photo.likes.count }}</td>
                <td>
                    {% for like in photo.likes.items %}
                    <p><a href="https://vk.com/id{{ like.id }}">{{ like.first_name }} {{ like.last_name }}</a></p>
                    {% endfor %}
                </td>
                <td>
                    {% for comment in photo.comments.items %}
                        <p><a href="https://vk.com/id{{ comment.from_id }}">From</a></p>
                        {% if 'attachments' in comment and not comment.text %}
                             <p>Attachment: {{ comment.attachments.0.type }}</p>
                        {% else %}
                             <p>Text: {{ comment.text }}</p>
                        {% endif %}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr class="my-4">

    <h4><img height="20" src='{% eye_icon %}' onclick='hideTable("search-wall", "wall-table")'> Wall</h4>
    <input class="form-control" type="text" placeholder="Search..." id="search-wall" onkeyup='tableSearch("search-wall", "wall-table")'>
    <table id="wall-table" class="table table-hover">
        <thead>
             <tr class="table-active">
                <th scope="col"><img height="20" src='{% sort_icon %}' onclick="sortTableByNums('wall-table', 0, true)"></th>
   		        <th scope="col">Post ID</th>
   		        <th scope="col">Likes count <img height="20" src='{% sort_icon %}' onclick="sortTableByNums('wall-table', 2, false)"></th>
                <th scope="col">Likes</th>
                <th scope="col">Text</th>
   		        <th scope="col">Comments</th>
             </tr>
        </thead>
        <tbody>
            {% for post in info.wall.items %}
            <tr>
                <td scope="row"><strong>{{ forloop.counter }}</strong></td>
                <td><a href="https://vk.com/{{ domain }}?w=wall{{ id }}_{{ post.post_id }}%2Fall">{{ post.post_id }}</a></td>
                <td>{{ post.likes.count }}</td>
                <td>
                    {% for like in post.likes.items %}
                    <p><a href="https://vk.com/id{{ like.id }}">{{ like.first_name }} {{ like.last_name }}</a></p>
                    {% endfor %}
                </td>
                <td>{{ post.text }}</td>
                <td>
                {% for comment in post.comments.items %}
                    <p><a href="https://vk.com/id{{ comment.from_id }}">From</a></p>
                    {% if 'attachments' in comment and not comment.text %}
                    <p>Attachment: {{ comment.attachments.0.type }}</p>
                    {% else %}
                    <p>Text: {{ comment.text }}</p>
                    {% endif %}
                    <br>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<script src="{% static 'main/js/main.js' %}"></script>
<script type="text/javascript">
    hideTable("search-main", "main-info-table");
    hideTable("search-counters", "counters-table")
    hideTable("search-friends", "friends-table");
    hideTable("search-followers", "followers-table");
    hideTable("search-groups", "groups-table");
    hideTable("search-photos", "photos-table");
    hideTable("search-wall", "wall-table");
</script>

{% endblock %}
