{% extends "main/wrapper.html" %}

{% block content %}
    <form action="{% url 'vksearch:get_new_philter_region' %}" method="post">
        {% csrf_token %}
        Select country:
        <select required="required" name="country" id="country" >
            {% for id, title in countries %}
                <option value="{{ id }}">{{ title }}</option>
            {% endfor %}
        </select><br>
        Regions name philter <input type="text" name="regions" id="regions" style="width:90px" required="required">
        <br>
        <input type="submit" class="btn btn-dark btn-sm" value="Next">
    </form>
    <br/>
{% endblock %}