{% extends "main/wrapper.html" %}

{% block content %}
    <form action="{% url 'vksearch:get_new_philter_params' %}" method="post">
    {% csrf_token %}
    Enter new philter name: <input type="text" name="philter_name" id="philter_name" required="required" /><br>
    {% if allowed_groups %}
        Enter allowed groups domains:<br>
        {% for i in allowed_groups_num %}
            <input type="text" name="allowed_group_{{ i }}" id="allowed_group_{{ i }}" required="required"/><br>
        {% endfor %}
    {% endif %}

    {% if friends_list %}
        <br>Enter friends domains:<br>
        {% for i in friends_list_num %}
            <input type="text" name="friend_{{ i }}" id="friend_{{ i }}" required="required"/><br>
        {% endfor %}        
    {% endif %}

    {% if countries %}
        Select countries:<br>
        {% for i in countries_num %}
            <select required="required" name="country_{{ i }}" id="country_{{ i }}" >
                {% for country in countries_list %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select><br>
        {% endfor %}       
    {% endif %}

    {% if cities %}
        <br>Select cities:<br>
        {% for i in cities_num %}
            <select required="required" name="country_{{ i }}" id="country_{{ i }}" >
                {% for city in cities_list %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select><br>
        {% endfor %}
    {% endif %}
    {% if universities %}
        <br>Select universities:<br>
        {% for i in cities_num %}
            <select required="required" name="country_{{ i }}" id="country_{{ i }}" >
                {% for universitiy in universities_list %}
                    <option value="{{ universitiy }}">{{ universitiy }}</option>
                {% endfor %}
            </select><br>
        {% endfor %}
    {% endif %}
    <br><br>
    <input type="submit" class="btn btn-dark btn-sm" value="Add philter" onclick="location.href='/add_philter/getNewNPhilter/'">
    </form>
    <br>        
{% endblock %}