{% extends "main/wrapper.html" %}

{% block content %}
    <form action="{% url 'vksearch:get_new_filter_friends_and_groups' %}" method="post">
        {% csrf_token %}
        {% if university_set %}
            Select univercities:<br>
                {% for i in universities_num %}
                    <select required="required" name="univercity_{{ i }}" id="univercity_{{ i }}" >
                        {% for university in universities %}
                            <option value="{{ university.id }}">{{ university.title }}</option>
                        {% endfor %}
                    </select><br>
                {% endfor %}    
        {% endif %}
        <table>
            <tr>
                <td>Friends</td>
                <td><input type="checkbox" name="friends_set" id="friends_set"></td>            
            </tr>
            <tr>
                <td>Number </td>
                <td><input type="number" name="friends_num" id="friends_num" value="1" size="2" min="1" style="width:50px" required="required"></td>
            </tr>
            <tr>
                <td>Groups</td>
                <td><input type="checkbox" name="groups_set" id="groups_set"></td>            
            </tr>
            <tr>
                <td>Number </td>
                <td><input type="number" name="groups_num" id="groups_num" value="1" size="2" min="1" style="width:50px" required="required"></td>
            </tr>
        </table>
        <label for="country_id">
            <input type="hidden" id="country_id" name="country_id" value="{{ country_id }}">
        </label>
        <label for="cities">
            <input type="hidden" id="cities" name="cities" value="{{ cities }}">
        </label>
        <input type="submit" class="btn btn-dark btn-sm" value="Next">
    </form>
    <br/>
{% endblock %}