{% block header %}
<!--div class="d-inline p-2 bg-primary text-white">VK User Info</div>
<p><br/></p -->
<p>VK User Info</p>
{% endblock %}

{% comment %}
<select >

                </select>
                <input type="radio" id="date1" name="date1" value="{{ date }}">
                <label for="date1">
                    <p>{{ date }}</p>
                </label>
                <input type="hidden" value="     ">
                <input type="radio" id="date2" name="date2" value="{{ date }}">
                <label for="date2">
                    <p>{{ date }}</p>
                </label>
                <br>
{% endcomment %}
