<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<title>VK User Info</title>
</head>
	<body style="background: #F5F5DC">
		<h1>
			<center>
				<a class="test" href="http://localhost:11002/browser/">Graph Database</a>
			</center>
			<br/>
		</h1>
		<center>
			<form class="contact_form" action="">
				<h5>Enter domain:</h5><input type="text" name="domain"><br/><br/>
				<button class="button" type="button" onclick="alert('Hello world!')"><h5>Add to database</h5></button>
			</form>
		</center>
	</body>
</html>